<body>

<nav class="navbar navbar-light bg-light">
  <a href="/restaurants" class="navbar-brand">Restaurants</a>
  <a href="/restaurants/new" class="navbar-brand">New Restaurant</a>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

<% @restaurants.each do |restaurant|%>
  <resutaurant>
    <h2><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h2>
    <%= restaurant.address %>
  </restaurant>
<% end %>
      </div>
    </div>
  </div>



</body>
